ul li{
    text-decoration: none;
    display: inline;    
    font-size: 25px;
    margin: 0px 5px;
    /* border: 1px solid tan; */
}

ul li:hover{
    border-bottom: 10px solid #ff0000;    
}

a:hover{
    text-decoration: none;
    color: rgb(189, 121, 32);
}